$brown: #7a5d3c;

// Chat Input Styling
.chatInputBox {
    max-width: auto !important;
    min-width: 200px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    outline: none;
    margin-bottom: 2.5px;
    transition: box-shadow 0.3s ease;
}

.chatInputBox:focus,
.chatInputBox:hover {
    box-shadow: 0px 0px 13px 0px $brown;
    border: none;
}

/* Style the scrollbar */
.chatInputBox::-webkit-scrollbar {
    width: 9px;
}

.chatInputBox::-webkit-scrollbar-thumb {
    background-color: $brown;
    border-radius: 4px;
    cursor: pointer;
}

.chatInputBox::-webkit-scrollbar-track {
    background-color: lightgray;
}

.chatLayoutWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    width: calc(100vw - 50px);
    margin-left: 40px;
}

// entire Chat Layout Styling
.chatLayout {
    background-color: black;
    max-width: 1500px;
    height: 800px;
    border-radius: 2%;
    border: 1px solid black;
    overflow: hidden;
}

// Chat Section with between users

.chatSectionContainer {
    display: flex;
    margin-left: 100px;
}

.chatSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chatContent {
    flex-grow: 1;
}
