$brown: #7a5d3c;

.chatTopBar {
    background-color: wheat;
    height: 100%;
    width: 100%;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.chatSearchBar {
    max-width: 600px;
    margin-left: 200px;
}

.ant-input-search-button {
    &:hover {
        background-color: $brown !important;
        border-color: $brown !important;
        color: white !important;
        opacity: 0.8;
    }
    background-color: $brown;
    border-color: $brown;
    color: white;
    font-size: 17px;
}

.ant-input-search {
    border-color: black !important;
    &:hover,
    &:focus {
        border-color: #000000;
        outline-color: #000000;
    }
}

.notifications {
    margin-left: 300px;
    background-color: #ca8136;
    height: 37px;
    width: 40px !important;

    &:hover,
    &:focus {
        background-color: #ca8136 !important;
    }
}
