$brown: #7a5d3c;

.chatSidebar {
    background-color: $brown;
    min-width: 300px;
    height: 100%;
}

.sidebarTabStyling {
    min-width: 134px;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.sidebarTabStyling:hover {
    color: black;
}

// entire container
.sideBarContainer {
}

.conversationsMenu {
    overflow: auto;
    max-height: calc(100vh - 192px);
}

.chatSidebar:focus,
.chatSidebar:hover {
    box-shadow: 0px 0px 13px 0px $brown;
    border: none;
}

/* Style the scrollbar */
.conversationsMenu::-webkit-scrollbar {
    width: 0px;
}

.conversationsMenu:hover::-webkit-scrollbar {
    width: 7px;
}

.conversationsMenu::-webkit-scrollbar-thumb {
    background-color: $brown;
    border-radius: 4px;
    cursor: pointer;
}

.conversationsMenu::-webkit-scrollbar-track {
    background-color: lightgray;
}

.conversationTabs .ant-tabs-ink-bar {
    background-color: black;
}

.sidebarMenuItems {
    height: 70px !important;
}

.sidebarMenuItems:focus,
.sidebarMenuItems:hover {
    background-color: $brown !important;
    color: white !important;
}

.ant-menu-item-selected {
    background-color: $brown !important;
    color: white !important;
    // border: 1px solid black;
}
