.userCardWrapper {
    max-height: 65px;
    margin-left: 12px;
    margin-top: -16px;
    font-family: 'Quicksand', sans-serif;
}

.userCardUsername {
    font-weight: bold;
    max-height: 20px;
    font-size: 15px;
}

.lastMessageSent {
    height: 60px;
    font-size: 13px;
    margin-top: 2px;
}
